body{
    background-color: white;
    text-align: center;
}
p{
    color: #a8a8a8;
    font-size: 15px;
}
h1{
    font-size: 30px;
}
.headerlogo{
    background-image: url(/images/bg-header-desktop.png);
    width: 100%;
    font-size: 150px;
    color: rgb(119, 173, 38);
    padding-top: 100px;
    padding-bottom: 30px;

}
button{
    margin: 10px 10px;
    border-radius: 40px;
    padding: 15px 40px;
    color: white;
    transition: 0.25;
    border-style: none;
}
.button1{
    background-color: rgb(60, 180, 60);
}
.button1:hover{
    background-color: rgb(124, 209, 124);
}
   .button2{
    background-color: blueviolet;
}
.button2:hover{
    background-color: rgb(158, 95, 218);
}
.footer{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}
.logo{
    display: flex;
    justify-content: space-around;
}
.cr{
    text-align: right;
    font-size: 35px;
    color: rgb(119, 173, 38);
}
.link{
    color: black;
    margin-right: 10px;
}
.s3{
    display: flex;
    margin-top: 50px;
}
.text{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    text-align: left;
}

.s5{
    display: flex;

}
.s6{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
